/* footer section */
.main-footer {
    background-color:rgb(247, 214, 153) ;
    color: #000000;
    padding: 50px 40px 20px;
    font-family: 'Poppins', sans-serif;
    border-top: 20px solid #ffecdce0;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 30px;
}

.footer-col {
    flex: 1;
    min-width: 200px;
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 20px;
    
    color: #5a2900;
    position: relative;
    font-weight: 800;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #8a4a4a;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-col ul li a:hover {
    color: #802f00;
}
.social-icons {
    display: flex;
    flex-direction: column;
}
.social-icons a {
    color: #221300;
    font-size: 18px;
    transition: color 0.3s;
    margin-top: 5px;
}

.social-icons a:hover {
    color: #ffd700;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #1d1c1c;
    padding-top: 15px;
    font-size: 14px;
    color: #032631;
}