* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base font size for scaling (assumes 1rem = 16px) */


body {
    font-family: 'Poppins', sans-serif;
    background-color: #fffaf0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

/* Desktops */
@media (max-width: 1440px) {

}

/* Tablet */
@media (max-width: 1024px) {

}

/* Phones */
@media (max-width: 600px) {
    
}
